*.class
*.log
target
.ensime
.ensime_lucene
.ensime_cache
.*.swp
*.semanticdb
.idea
.idea/*
.idea_modules
.sbtrc
.bloop/
.metals/
coursier
project/.bloop/
project/project/.bloop/
**/*.iml
.bsp
.env
data/
dockercompose/*
